.descubre {
    display: flex;
    flex-direction: column;
    font-family: ui-sans-serif, system-ui, sans-serif;
    color: #333;
    padding-left: 2%;
    gap: 10px;
    background-color: #FAFAFA;
    justify-content: left;
    text-align: left;
}


.headercontent {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.search-bar {
    gap: 5px;
    margin-bottom: 15px;
}

.search-bar input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 16px;
    width: 500px;
    outline: none;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input:focus {
    border-color: #2ecc71;
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}

.search-bar button {
    background-color: #2ecc71;
    height: 38px;
    color: rgb(27, 26, 26);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.search-bar button img {
    width: 20px; 
    height: 20px;
}

.search-bar button:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.search-bar button span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 270px; 
}

.recipe-card:hover {
    transform: scale(1.03);
    border-color: #2ecc71;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.recipe-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.recipe-card-description {
    font-size: 14px;
    color: #666;
}

.recipe-card-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-card-footer .btn {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.recipe-card-footer .btn:hover {
    background-color: #27ae60;
    transform: scale(0.98);
}

.modal{
    background-color: #ffffff;
    width: 500px;
    height: 500px;
}

.filters_content {
    display: none;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    margin-bottom: 10px;
    z-index: 1;
    opacity: 1;
}

.filters_content.open {
    display: flex;
    opacity: 1;
    z-index: 1;
}

.icon-button img.icon-image {
    width: 20px;
    height: 20px;
}
.icon-button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 8px 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.icon-button:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.icon-button span {
    font-size: 16px;
}


