.generarIA {
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  gap: 20px;
}
.section {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -300px;
  top: -70px;
}
.card-container {
  margin-top: 20px;
  gap: 30px;
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  margin-right: 200px;
  border-radius: 20px;
}

.card {
  padding: 2rem;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: hsl(120, 5%, 96%);
}
.card:hover {
  background: rgb(226, 226, 226);
  transform: scale(0.9);
}
.card-heading {
  color: hsl(113, 100%, 62%);
  margin-bottom: 0.5rem;
}
.card-body {
  color: hsl(120, 5%, 96%);
}
.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(233, 233, 233);
  border-radius: 1px;
}
fieldset {
  margin-top: 120px;
  border-radius: 20px;
  margin-left: 385px;
  border: solid 1.5px #3a4b3a;
  padding: 15px 20px; /* Añadido para mayor espacio interno */
  background-color: #f4f4f4; /* Fondo suave */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  font-family: "Arial", sans-serif; /* Fuente moderna */
  color: #333; /* Color de texto */
  transition: all 0.3s ease; /* Transición suave para interacciones */
  display: flex;
  flex-direction: row;
}

fieldset:hover {
  border-color: #4b6a4b; /* Cambio de color al pasar el cursor */
  background-color: #e9f1e9; /* Color de fondo al pasar el cursor */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Aumento de la sombra al hacer hover */
}

legend {
  font-weight: bold; /* Texto en negrita */
  color: #3a4b3a; /* Color del texto */
  padding: 0 10px; /* Espaciado alrededor del texto */
  font-size: 1.2em; /* Tamaño de fuente ajustado */
}

.input-group {
  position: relative;
}

.input {
  border: solid 1.5px #85dc53;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #85dc53;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #85dc53;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #000000;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 0.2em;
  color: #85dc53;
}

.botones {
  flex-direction: row;
  flex-wrap: wrap;
}

.formulario {
  display: flex;
  flex-direction: row;

  justify-content: center;

  gap: 20px;
}
.data {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.select {
  display: flex;
  flex-direction: row;
}

/* From Uiverse.io by MuhammadHasann */
.button {
  --black-700: rgb(144, 199, 188);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 700px;
  margin-bottom: 20px;
  transform-origin: center;

  padding: 1rem 2rem;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
  width: 280px;
}
.pilas {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 700px;
}
.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--black-700);

  border-radius: var(--border_radius);
  box-shadow: inset 0 0.5px hsl(113, 100%, 62%),
    inset 0 -1px 2px 0 hsl(113, 100%, 62%),
    0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
    0 0 0 calc(var(--active, 0) * 0.375rem) hsla(300, 2%, 12%, 0.75);

  transition: all var(--transtion);
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: hsla(115, 64%, 52%, 0.75);
  background-image: radial-gradient(
      at 51% 89%,
      rgb(118, 250, 65) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, rgb(251, 251, 252) 0px, transparent 50%),
    radial-gradient(at 22% 91%, rgb(250, 250, 251) 0px, transparent 50%);
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.button:is(:hover, :focus-visible) {
  --active: 1;
}

.button:active {
  transform: scale(1);
}

.button .dots_border {
  --size_border: calc(100% + 2px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

.button .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  background-color: white;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.button .sparkle {
  position: relative;
  z-index: 10;

  width: 1.75rem;
}

.button .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.button:is(:hover, :focus) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite;
}

.button .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}

.button .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}

.button .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }

  17% {
    transform: scale(var(--scale_path_1, 1));
  }

  49% {
    transform: scale(var(--scale_path_2, 1));
  }

  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.button .text_button {
  position: relative;
  z-index: 10;

  background-image: linear-gradient(
    90deg,
    rgb(11, 11, 11) 0%,
    hsla(0 0% 100% / var(--active, 0)) 120%
  );
  background-clip: text;

  font-size: 1rem;
  color: #000000;
}

.btn-ready {
  --green: #1bfd9c;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.btn-ready:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.btn-ready:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.btn-ready:hover:before {
  transform: translateX(15em);
}

.header {
  margin-left: 4px;
  gap: 5px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: small;
}
.image {
  width: 50px;
  height: 50px;
  align-self: center;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
}

.recipe-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 270px;
  margin-left: 10px;
}

.recipe-card:hover {
  transform: scale(1.03);
  border-color: #2ecc71;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.recipe-card-description {
  font-size: 14px;
  color: #666;
}

.recipe-card-footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center; /* Centra el botón */
}

.recipe-card-footer .btn {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.recipe-card-footer .btn:hover {
  background-color: #27ae60;
  transform: scale(0.98);
  margin-left: 100px;
}
.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

#postContainer {
  display: flex;
  flex-wrap: wrap; /* Las tarjetas se ajustan a la línea */
  justify-content: center; /* Centra las tarjetas */
  gap: 1rem; /* Espacio entre tarjetas */
}

.recipe-card {
  width: 250px; /* Ancho de cada tarjeta */
}

.recipe-card-footer {
  width: 100%;
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 1rem; /* Espacio hacia arriba */
  margin-right: 120px;
}

.btn-ready {
  padding: 0.7em 2.7em;
  font-size: 15px;
  border-radius: 0.6em;
  transition: all 0.3s ease-in-out;
}
