body {
  font-family: "Segoe UI", sans-serif;
}

/* Plan contenedor */
.plan-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.plan-container::before {
  content: "";
  position: absolute;
  top: -18px;
  left: -600px;
  background-image: linear-gradient(78deg, #ffffffd3 0%, #ffffffcc 100%), url(../icons/fruitsPlan.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  clip-path: polygon(100% 0, 100% 17%, 61% 14%, 14.7% 17%, 14.7% 0);
  z-index: -1;
  width: 1900px;
  height: 800px;
}

.plan-title {
  font-size: 40px;
  color: #14b56f;
  margin-top: -60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.plan-title2 {
  font-size: 25px;
  color: #333;
  margin-top: -25px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.title-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Detalles del Plato */
.plan-details {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "day-box day-box day-box"
    "properties image ingredients";
  gap: 20px;
  position: relative;
  margin-top: 40px;
  background-color: #8cf3ca68;
  border: 5px solid #6ac577e1;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}

.title-icon2 {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.plan-day {
  position: absolute;
  top: 25px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.day-box {
  padding: 15px;
  background-color: #e0f7fa;
  border: 2px solid #00796b;
  border-radius: 8px;
  font-weight: bold;
  font-size: 25px;
  color: #004d40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-properties {
  grid-area: properties;
  margin: 10px;
  text-align: left;
  position: relative;
  left: 20px;
}

/* Propiedades - Ajuste de estilo de lista */
.plan-properties ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* Eliminar viñetas */
}

.plan-properties li {
  margin-bottom: 10px;
  /* Ajustar el espaciado inferior */
  color: #555;
}

.plan-description {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plan-image {
  grid-area: image;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.plan-image img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
}

.image-description {
  position: absolute;
  bottom: -30px;
  top: 55px;
  left: 48%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.plan-ingredients {
  position: relative;
  grid-area: ingredients;
  margin: 10px;
  text-align: right;
  align-self: center;
  padding: 10px;
  border-radius: 8px;
  list-style-position: inside;
}

.plan-ingredients ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* Eliminar viñetas */
}

.plan-ingredients li {
  margin-bottom: 10px;
  /* Ajustar el espaciado inferior */
  color: #555;
}

/* Miniaturas */
.plan-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  margin-top: -40px;
  margin-left: 5px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 270px;
  cursor: pointer;
  background-color: #ffffff;
}

.thumbnail:hover {
  transform: scale(1.03);
  border-color: #2ecc71;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail img {
  height: 200px;
  object-fit: cover;
}

.thumbnail-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.thumbnail-description {
  font-size: 14px;
  color: #666;
}

.thumbnail-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thumbnail-footer .btn {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.thumbnail-footer .btn:hover {
  background-color: #27ae60;
  transform: scale(0.98);
}

/* ---------------Calificaciones--------------------*/
.rating {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.rating:not(:checked)>input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked)>label {
  float: left;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked)>label:before {
  content: "★";
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: #ff9e0b;
}

.rating>input:checked~label {
  color: #ffa723;
}

.star.selected {
  color: #ffa723;
}

body {
  font-family: "Segoe UI", sans-serif;
}

/* Pop-up */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay.open {
  display: block;
}

.recipe_info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  /* Coloca elementos en columna */
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: -1;
  width: 90%;
  max-width: 750px;
  max-height: 90%;
  height: 550px;
  overflow-y: auto;
  transition: opacity 0.2s ease, z-index 0.2s ease;
  border: 0.1px solid #2ecc71;
}

.recipe_info.open {
  opacity: 1;
  z-index: 1000;
}

.overlay.open {
  display: block;
}


/* Botón de cerrar */
.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.close-icon {
  width: 20px;
  height: 20px;
  padding: 6px;
}

/* Detalles del Pop-up */
.recipe_info h2 {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  white-space: nowrap;
  top: 0;
  left: 35%;
  transform: translateX(-50%);
}

.title-icon2 {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.plan-day {
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.day-box {
  padding: 10px;
  background-color: #e0f7fa;
  border: 2px solid #00796b;
  border-radius: 8px;
  font-weight: bold;
  font-size: 25px;
  color: #004d40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-properties {
  position: relative;
  left: 10px;
  top: 85px;
  margin: 10px;
  /* Añade esto para cambiar posición horizontalmente */
  order: 2;
  /* Cambia el número para reordenar */
  width: 150px;
}

.plan-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Añade esto para cambiar posición horizontalmente */
  order: 2;
  /* Cambia el número para reordenar */
  top: 60px;
}

.plan-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-description {
  position: relative;
  /* Cambia a relative si estaba absolute */
  margin-top: 10px;
  /* Añade un pequeño margen superior */
  background-color: transparent;
  /* Quita el fondo */
  padding: 0;
  /* Elimina el padding */
  font-size: 20px;
  text-align: center;
  top: -5px;
  left: 35%;
  font-weight: bold;
}

.plan-ingredients {
  position: relative;
  margin: 10px;
  text-align: right;
  align-self: center;
  padding: 10px;
  border-radius: 8px;
  list-style-position: inside;
  /* Añade esto para cambiar posición horizontalmente */
  order: 3;
  /* Cambia el número para reordenar */
  left: -20px;
}

.plan-ingredients ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plan-ingredients li {
  margin-bottom: 10px;
  color: #0b0e0d;
}

.plan-description {

  margin-top: 10px;
  font-size: 16px;
  color: #0b0e0d;
  background-color: transparent;
  /* Quita el fondo */
  border-color: transparent;
  padding: 0;
  /* Elimina el padding */
  /* Añade esto para cambiar posición horizontalmente */
  order: 4;
  /* Cambia el número para reordenar */
  position: absolute;
  left: 50px;
  top: 70px;
  width: 620px;
  padding-left: 15px;
}

.user-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Transparencia y color */
  backdrop-filter: blur(8px);
  opacity: 1; /* Oculto por defecto */
  z-index: 1001;
  transition: opacity 0.3s ease, z-index 0.3s ease;
}

.user-modal-overlay.open {
  opacity: 0; /* Visible cuando se abre */
  z-index: -1; /* Encima del contenido */
}

.user-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Fondo blanco */
  padding: 25px;
  border: 1px solid #2ecc71;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Oculto por defecto */
  z-index: 1002;
  width: 80%;
  max-width: 500px;
  transition: opacity 0.2s ease, z-index 0.2s ease;
}

.user-modal.open {
  opacity: 0; /* Visible cuando se abre */
  z-index: -1; /* Encima del overlay */
}

.user-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.user-close-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Efecto hover */
}

.user-close-icon {
  width: 20px;
  height: 20px;
}

.user-mod-desc {
  font-size: 16px;
  color: #333; /* Texto más oscuro */
  margin: 10px 0 20px;
  line-height: 1.5;
}

.user-form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-input-box {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd; /* Borde claro */
  border-radius: 16px;
  width: 100%;
  max-width: 300px;
  outline: none;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.user-input-box:focus {
  border-color: #2ecc71; /* Verde de enfoque */
  box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}

.user-update-button {
  background-color: #2ecc71; /* Botón verde */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  align-self: flex-end; /* Alineado a la derecha */
}

.user-update-button:hover {
  background-color: #27ae60; /* Más oscuro al pasar */
}
