.kmeas {
    display: flex;
    flex-direction: column;
    font-family: ui-sans-serif, system-ui, sans-serif;
    color: #333;
    padding-left: 2%;
    gap: 10px;
    background-color: #FAFAFA;
    justify-content: left;
    text-align: left;
}

.grupocal{
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.headercontent {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.headercontent2 {
    font-size: 23px;
    color: #333;
    margin-bottom: 20px;
}

.contenidokmeans {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: left;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 270px;
}

.recipe-card:hover {
    transform: scale(1.03);
    border-color: #2ecc71;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.recipe-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.recipe-card-description {
    font-size: 14px;
    color: #666;
}

.recipe-card-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-card-footer .btn {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.recipe-card-footer .btn:hover {
    background-color: #27ae60;
    transform: scale(0.98);
}

.icon-button img.icon-image {
    width: 20px;
    height: 20px;
}

.icon-button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 8px 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.icon-button:hover {
    background-color: #27ae60;
    transform: scale(1.05);
}

.icon-button span {
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.233); 
    opacity: 0;
    z-index: -1; 
    transition: opacity 0.3s ease, z-index 0.3s ease;
}

.overlay.open {
    opacity: 1;
    z-index: 500; 
}


.recipe_info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    width: 80%;
    max-width: 500px;
    max-height: 60%; 
    overflow-y: auto; 
    transition: opacity 0.2s ease, z-index 0.2s ease;
    border: 0.1px solid #2ecc71;
}

.recipe_info.open {
    opacity: 1;
    z-index: 1000;
}

.recipe_info .close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.recipe_info .close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.recipe_info .close-icon {
    width: 20px;
    height: 20px;
    padding: 6px;
}

.recipe_info h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.recipe_info .mod_desc {
    color: #71717A;
    margin: 10px 5px;
}

.recipe_info .recipe_content {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.recipe_info .recipe-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
}

.recipe_info .recipe_description {
    flex: 1;
}

.recipe_spec {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.recipe_ingr, .recipe_nutri {
    flex: 1;
}

.recipe_ingr ul, .recipe_nutri ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe_ingr li, .recipe_nutri li {
    margin-bottom: 5px;
    color: #555;
}

.update-button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 14px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.update-button:hover {
    background-color: #27ae60;
    transform: scale(1.01);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 26, 0.233); 
    opacity: 0;
    z-index: -1; 
    transition: opacity 0.3s ease, z-index 0.3s ease;
}

.overlay.open {
    opacity: 1;
    z-index: 500; 
}


.recipe_info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: -1;
    width: 80%;
    max-width: 500px;
    max-height: 60%; 
    overflow-y: auto; 
    transition: opacity 0.2s ease, z-index 0.2s ease;
    border: 0.1px solid #2ecc71;
}

.recipe_info.open {
    opacity: 1;
    z-index: 1000;
}

.recipe_info .close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.recipe_info .close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.recipe_info .close-icon {
    width: 20px;
    height: 20px;
    padding: 6px;
}

.recipe_info h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.recipe_info .mod_desc {
    color: #71717A;
    margin: 13px 5px;
}

.recipe_info .recipe_content {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.recipe_info .recipe-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
}

.recipe_info .recipe_description {
    flex: 1;
}

.recipe_spec {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.recipe_ingr, .recipe_nutri {
    flex: 1;
}

.recipe_ingr ul, .recipe_nutri ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe_ingr li, .recipe_nutri li {
    margin-bottom: 5px;
    color: #555;
}

.update-button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 14px;
    cursor: pointer;
    align-self: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.update-button:hover {
    background-color: #27ae60;
    transform: scale(1.01);
}


.icon-button.active {
    background-color: #27ae60;
    color: #fff;
    border: 1px solid #2ecc71;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-button.active img {
    filter: brightness(0) invert(1);
}

.icon-button.active .sort-icon {
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

.icon-button.active .sort-icon.asc {
    content: url('/static/icons/arriba.png'); /* Ruta al icono de flecha hacia arriba */
}

.icon-button.active .sort-icon.desc {
    content: url('/static/icons/abajo.png'); /* Ruta al icono de flecha hacia abajo */
}

.diet-select {
    appearance: none;
    background: url('/static/icons/dieta.png') no-repeat left center, #fff;
    background-size: 20px 20px;
    background-position: 10px center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 15px 8px 40px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.diet-select:hover {
    background-color: #27ae60;
    color: #fff;
    border: 1px solid #2ecc71;
}

.diet-select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}


.diet-select.active {
    background-color: #27ae60; 
    color: #fff;
    border: 1px solid #2ecc71; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.diet-select.active::before {
    filter: brightness(0) invert(1); 
}

.modal-recipe-image {
    width: 150px; 
    height: 150px;
    border-radius: 10px; 
    object-fit: cover; 
    margin: 0 auto; 
    display: block; 
}

.recipe_content {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center; 
    justify-content: flex-start; 
}


/* Contenedor Principal */
.contenedor-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    backdrop-filter: blur(4px);

  }

  .contenedor-modal.open {
    backdrop-filter: blur(5px);
    display: flex;
    z-index: 100000;
  }
  
  .tarjeta-modal {
    background: white;
    border-radius: 20px;
    width: 350px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    border: 0.1px solid #2ecc71;
  }
  
  .encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .encabezado h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .cerrar-modal {
    font-size: 18px;
    cursor: pointer;
    color: #333;
  }
  
  .contenido p {
    font-size: 14px;
    color: #666;
    margin: 15px 0;
  }
  
  .seleccion-dia {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .seleccion-dia label {
    margin-right: 10px;
    font-size: 14px;
  }
  
  .seleccion-dia select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
  }
  
  .pie {
    margin-top: 20px;
  }
  
  .boton-agregar {
    background-color: #90D791;
    color: black;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .boton-agregar:hover {
    background-color: #76c176;
  }

  #filt{
    font-weight: 900;
  }
  .btn:hover {
    background-color: #27ae60;
    transform: scale(0.98);
}

.recipe-card-footer .btn {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}
.recipe-card-footer .btn:hover {
    background-color: #27ae60;
    transform: scale(0.98);
}

.btn{
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #27ae60;
}