body {
  margin: 0;
  font-family: ui-sans-serif,system-ui,sans-serif;
  font-weight: 4000;
  display: flex;
  height: 100vh;
  background-color: #FAFAF9;
}

.container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.main-content {
  flex-grow: 1; 
  overflow-y: auto;
  padding: 20px;
}


.sidebar {
  width: 190px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 18px;
  border-right: 1px solid #ddd;
}

.section-title {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #696565; 
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 10px;
  color: #333;
  transition: color 0.1s, box-shadow 0.1s, background-color 0.1s, border-radius 0.1s;
}


.logo:hover {
  color: #098a43;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra al pasar el cursor */
  background-color: rgba(60, 55, 55, 0.05);
  border-radius: 10px; /* Esquinas redondeadas al pasar el cursor */
}

.logo img {
  margin-right: 5px;
  width: 70px; 
  height: 65px; 
}

#menu{
  justify-content: start;
}

.menu ul {
  list-style: none;
  margin-block-start: 5px;
  margin-block-end: 5px;
  padding: 0;
}

.menu ul li a {
  display: flex; 
  align-items: start; 
  padding: 7px; 
  text-decoration: none;
  color: #333;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s, box-shadow 0.1s;
}

.menu ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.menu ul li a:hover {
  color: #098a43;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.107); 
  background-color: rgba(56, 56, 56, 0.084);
  border-radius: 10px;
}

.extras a {
  display: block;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer button {
  background-color: #349f64ee;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

footer button:hover {
  background-color: #349f64cf;
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: auto;
}

.user-menu .user-profile {
  margin-top: 20px;
}

.user-menu .user-profile a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.1s, box-shadow 0.1s, background-color 0.1s;
}

.user-menu .user-profile a img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-menu .user-profile a div {
  display: flex;
  flex-direction: column;
}

.user-menu .user-profile a small {
  font-size: 12px; 
  color: #888; 
}

.user-menu .user-profile a .more-options {
  width: 15px; 
  height: 15px;
  margin-left: auto;
  margin-right: 0;
}

.user-menu .user-profile a:hover {
  color: #349f64ee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(60, 55, 55, 0.05);
  border-radius: 10px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.extras{
  padding-top: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.search-bar .filter-btn {
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar .filter-btn:hover {
  background-color: #0056b3;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe h2 {
  font-size: 16px;
  color: #333;
  padding: 10px;
}
