@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO+Guides&family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playwrite+CO+Guides&family=Trade+Winds&display=swap');

body {
  margin: 0;
  font-family: ui-sans-serif,system-ui,sans-serif;
  font-weight: 4000;
  display: flex;
  height: 100vh;
  background-color: #FAFAF9;
}

.container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.main-content {
  flex-grow: 1; 
  overflow-y: auto;
  padding: 20px;
}


.sidebar {
  width: 190px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 18px;
  border-right: 1px solid #ddd;
  overflow: hidden;
}

.section-title {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #696565; 
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 10px;
  color: #333;
  transition: color 0.1s, box-shadow 0.1s, background-color 0.1s, border-radius 0.1s;
}


.logo:hover {
  color: #098a43;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: rgba(60, 55, 55, 0.05);
  border-radius: 10px; 
}

.logo img {
  margin-right: 5px;
  width: 70px; 
  height: 65px; 
}


.menu ul {
  list-style: none;
  margin-block-start: 5px;
  margin-block-end: 5px;
  padding: 0;
}

.menu ul li a {
  display: flex; 
  align-items: start; 
  padding: 7px; 
  text-decoration: none;
  color: #333;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s, box-shadow 0.1s;
}

.menu ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.menu ul li a:hover {
  color: #098a43;
  box-shadow: 0 4px 8px rgba(20, 19, 19, 0.107); 
  background-color: rgba(56, 56, 56, 0.084);
  border-radius: 10px;
}

.extras a {
  display: block;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer button {
  background-color: #349f64ee;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

footer button:hover {
  background-color: #349f64cf;
}

.user-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: auto;
}

.user-menu .user-profile {
  margin-top: 20px;
}

.user-menu .user-profile a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.1s, box-shadow 0.1s, background-color 0.1s;
}

.user-menu .user-profile a img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.user-menu .user-profile a div {
  display: flex;
  flex-direction: column;
}

.user-menu .user-profile a small {
  font-size: 12px; 
  color: #888; 
}

.user-menu .user-profile a .more-options {
  width: 15px; 
  height: 15px;
  margin-left: auto;
  margin-right: 0;
}

.user-menu .user-profile a:hover {
  color: #349f64ee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(60, 55, 55, 0.05);
  border-radius: 10px;
}

.dropdown-menu {
  display: none; /* Oculto por defecto */
  top: 100%; /* Alinea la parte superior del menú con la parte inferior del perfil */
  left: 0; /* Alinea el menú con el lado izquierdo del perfil */
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  margin-top: 10px; /* Espacio entre el perfil y el menú */
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: background-color 0.1s;
}

.dropdown-menu a:hover {
  background-color: #f4f4f4;
}
.main-content {
  flex: 1;
  padding: 20px;
}

.extras{
  padding-top: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}

.search-bar .filter-btn {
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar .filter-btn:hover {
  background-color: #0056b3;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.recipe:hover {
  transform: translateY(-5px);
}

.recipe img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe h2 {
  font-size: 16px;
  color: #333;
  padding: 10px;
}

/* ---Plan Nutricional--- */
.plan-continer {
  display: flex;
  flex-direction: column;
  height: 15vh;
  text-align: center; /* Centra texto */
}

.plan-continer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(78deg, #ffffffd3 0%,#ffffffcc 100%), url(../icons/fruitsPlan.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  clip-path: polygon(100% 0, 100% 17%, 58% 14%, 17.7% 17%, 17.7% 0);
  z-index: -1;
}
.plan-title {
  font-size: 30px;
  color: #14b56f;
  font-family: "Trade Winds", system-ui;
  margin-top: -15px;
} 

.plan-title2 {
  font-size: 30px;
  color: #333;
  font-family: "Parisienne", cursive;
  margin-top: -25px;
}

/* Agrega tus estilos CSS aquí */
.plan-details {
    display: flex;
    justify-content: space-between;
}

.plan-day {
    position: absolute;
    top: 10px;
    right: 10px;
}

.day-box {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.plan-properties, .plan-ingredients {
    flex: 1;
    margin: 10px;
}

.plan-image {
    flex: 2;
    text-align: center;
}

.plan-image img {
    width: 100%;
    height: auto;
}

.thumbnail {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.thumbnail img {
    width: 100px;
    height: 100px;
}

