<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatWise IA</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <a href="#" class="logo">
                <img src="static/logo/logo.png" alt="Logo Icon"> EatWiseIA
            </a>

            <div class="section-title">
                Mi sección
            </div>

            <nav class="menu">
                <ul>
                    <li><a href="/login.html"><img src="static/icons/calendar.png" alt="Plan Icon"> Plan nutricional</a></li>
                    <li><a href="#"><img src="static/icons/neuronal.png" alt="Generar Icon"> Generar IA</a></li>
                    <li><a href="#"><img src="static/icons/chef.png" alt="Descubre Icon"> Descubre platillos</a></li>
                </ul>
            </nav>

            <div class="extras">
                <a href="#">Descubra</a>
                <a href="#">Buscar usuarios</a>
            </div>


            <footer>
                <p>Empieza tu vida más sana</p>
                <button>Empieza ahora mismo</button>
                
            </footer>

            <ul class="user-menu">
                <li class="user-profile">
                    <a href="/config.html">
                        <img src="https://dus6dayednven.cloudfront.net/app/uploads/2022/05/1-DSC00855-Editar_baja.jpg" alt="User Avatar">
                        <div>
                            <span>Cesar Pantoja</span>
                            <small>@cesarpantoja</small>
                        </div>
                        <img class="more-options" src="static/icons/prof.png" alt="More Options Icon">
                    </a>
                </li>
            </ul>
        </aside>

        
        <main class="main-content">
            {% block content %} 
            
            {% endblock%} 
        </main>
 
    </div>
    <script src="script.js"></script>
</body>
</html>
