{% extends "base.html"%} {% block css %}
<link rel="stylesheet" href="static/css/descubre.css" />
{% endblock %} {% block content %}
<div class="descubre">
  <div class="header">
    <h1 class="headercontent">Descubre recetas</h1>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="Busca recetas por su título..." class="search-input" id="search_input" />
    <button class="filter-button" id="ver_filtro">
      <img src="/static/icons/filtrar.png" alt="Filtros" /> Filtros
    </button>
  </div>

  <div class="filters_content" id="filters_content">
    <button class="icon-button" type="submit">
      <img src="/static/icons/calorias.png" alt="Calorías" class="icon-image" />
      Calorías
    </button>

    <button class="icon-button">
      <img src="/static/icons/carne.png" alt="Proteínas" class="icon-image" />
      Proteínas
    </button>
    <button class="icon-button">
      <img src="/static/icons/pan.png" alt="Carbohidratos" class="icon-image" />
      Carbohidratos
    </button>
    <button class="icon-button">
      <img src="/static/icons/aguacate.png" alt="Grasas" class="icon-image" />
      Grasas
    </button>

    <div class="icon-button-wrapper">
      <select id="diet-filter" class="diet-select">
        <option value="sin_filtro" data-icon="/static/icons/dieta.png" selected>
          Tipo de dieta
        </option>
        <option value="gluten_free" data-icon="/static/icons/trigo.png">
          Libre de gluten
        </option>
        <option value="vegetarian" data-icon="/static/icons/lechuga.png">
          Vegetariana
        </option>
      </select>
    </div>
  </div>

  <div class="recipe-cards"></div>

  <div class="overlay" id="modal_overlay"></div>

  <div class="recipe_info" id="recipe_info">
    <button class="close-button" aria-label="Cerrar" id="close_recipe_info">
      <img src="/static/icons/cerrar.png" alt="Cerrar" class="close-icon" id="close_recipeinf" />
    </button>
    <h2 class="recipe-title"></h2>
    <p class="mod_desc"></p>

    <div class="recipe_content">
      <img class="modal-recipe-image" alt="Imagen de la receta" />
      <div class="recipe_description">
        <h3>Descripción</h3>
        <p class="recipe-description"></p>
      </div>
    </div>
    <div class="recipe_spec">
      <div class="recipe_ingr">
        <h3>Ingredientes</h3>
        <ul class="ingredients-list"></ul>
      </div>
      <div class="recipe_nutri">
        <h3>Información nutricional</h3>
        <ul class="nutrition-list"></ul>
      </div>
    </div>
    <button class="update-button" id="abrir_agregar">Agregar al plan</button>
  </div>

  <div class="contenedor-modal" id="modal_agregar">
    <div class="tarjeta-modal">
      <div class="encabezado">
        <h2>Agregar al plan</h2>
        <span class="cerrar-modal" id="cerrar_plan">&times;</span>
      </div>

      <div class="contenido">
        <p>Seleccione el día al que desea agregar esta receta</p>
        <div class="seleccion-dia">
          <label for="dia">Día:</label>
          <select id="dia">
            <option value="comida_lunes">Lunes</option>
            <option value="comida_martes">Martes</option>
            <option value="comida_miercoles">Miércoles</option>
            <option value="comida_jueves">Jueves</option>
            <option value="comida_viernes">Viernes</option>
            <option value="comida_sabado">Sábado</option>
            <option value="comida_domingo">Domingo</option>
          </select>
        </div>
      </div>

      <div class="pie">
        <button class="boton-agregar">Agregar</button>
      </div>
    </div>
  </div>

</div>
{% endblock %} {% block scriptjs %}
<script src="/static/js/descrubre.js"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
{% endblock %}