{% extends "base.html"%}
{% block css %}
<link rel="stylesheet" href="static/css/descubre.css">
{% endblock %}
{% block content %}
<header>
    <h1>Mis recetas</h1>
    <div class="search-bar">
        <input type="text" placeholder="Busca por título, ingredientes o contenido...">
        <button class="filter-btn">Filtros</button>
    </div>
</header>




<section class="recipes">
    {%for a in range(1,10)%}
    <div class="recipe">
        <img src="static/images/comida1.jpg" alt="Pollo al Curry con Coco y Espinacas">
        <h2>Pollo al Curry con Coco y Espinacas</h2>
    </div>
    {%endfor%}
    <div class="recipe">
        <img src="https://www.goya.com/media/6146/shredded-chicken-tacos-new.jpg?quality=80"
            alt="Tacos de Pollo a la Parrilla con Salsa Fresca">
        <h2>Tacos de Pollo a la Parrilla con Salsa Fresca</h2>
    </div>
</section>

<div class="descubre">
    <div class="header">
        <h1>Mis recetas</h1>
        <div class="search-container">
            <input type="text" placeholder="Busca por título, ingredientes o contenido..." class="search-bar">
            <button class="filter-button">Filtros ▼</button>
            <button class="grid-view-button">⬛</button>
        </div>
    </div>
    <div class="recipe-gallery">
        <div class="recipe-card">
            <img src="/static/images/comida123.jpg" alt="Pollo al Curry">
            <h3>Pollo al Curry con Coco y Espinacas</h3>
        </div>
        <div class="recipe-card">
            <img src="/static/images/comida164.jpg" alt="Tacos de Pollo">
            <h3>Tacos de Pollo a la Parrilla con Salsa Fresca</h3>
        </div>
    </div>
</div>


{% endblock%}

