{% extends "base.html"%} {% block css %}
<link rel="stylesheet" href="/static/css/generation.css" /> {% endblock %} {%
block content %}
<div class="generarIA">
  <section class="section">
    <form id="generationForm">
      <div class="pilas">
        <fieldset>
          <legend>
            <div class="header">
              <img src="/static/icons/brocoli.png" class="image" />
              <h1><strong>Ingresa tus datos !!</strong></h1>
              <img src="/static/icons/sopa.png" class="image" />
            </div>
          </legend>
    
          <div class="formulario">
            <div class="data">
              <div class="input-group">
                <input
                  required
                  type="number"
                  name="peso"
                  autocomplete="off"
                  class="input"
                />
                <label class="user-label">Peso kg</label>
              </div>
              <div class="input-group">
                <input
                  required
                  type="number"
                  name="edad"
                  autocomplete="off"
                  class="input"
                />
                <label class="user-label">Edad</label>
              </div>
            </div>
    
            <div class="data">
              <div class="input-group">
                <input
                  required
                  type="number"
                  name="altura"
                  autocomplete="off"
                  class="input"
                />
                <label class="user-label">Altura</label>
              </div>
    
              <div class="select">
                <label>
                  <input type="radio" name="sexo" value="masculino" required />
                  Masculino
                </label>
                <label>
                  <input type="radio" name="sexo" value="femenino" required />
                  Femenino
                </label>
              </div>
            </div>
          </div>
        </fieldset>
    
        <button class="button" type="button" id="submitButton">
          <div class="dots_border"></div>
          <span class="text_button">Genera tu plan nutricional</span>
        </button>
      </div>
    </form>
  </section>
  <!-- Targeteros-->
  <div class="recipe-cards bounce-in-top"></div>
  {% block js %}
  <script src="static/js/generation.js"></script>
  {% endblock %}
</div>

{% endblock %}
