<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Recetas</title>
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/logo/logo.png" alt="EatWise AI">
            <span>EatWise AI</span>
        </div>
        <nav class="menu">
            <a href="#">Precios</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Contacto</a>
        </nav>
        <a class="btn-recipes" href="/">Ir al dashboard &rarr;</a>
    </header>

    <main class="container">
        <section class="hero">
            <div class="hero-image">
                <img src="/static/gifs/comiendo.gif" alt="GIF 1">
                <img src="/static/gifs/fresa.gif" alt="GIF 2">
                <img src="/static/gifs/musculo.gif" alt="GIF 3">
                <img src="/static/gifs/naranja.gif" alt="GIF 4">
            </div>

            <h1>El Plan Nutricional Perfecto en Segundos.</h1>
            <p>Personaliza tu dieta con IA y transforma tu estilo de vida. Descubre recetas y planes adaptados a tus
                metas y preferencias.</p>
            <div class="search-bar">
                <input type="text" placeholder="Introduzca sus datos para recomendar su plan...">
                <button class="btn-generate">
                    <span>Genere</span>
                </button>
            </div>
            <p class="free-trial">Pruebalo</p>
            <div class="app-buttons">
                <a href="/">
                    <img src="/static/icons/calendar.png" alt="Download on the App Store"> Plan Nutricional
                </a>
                <a href="/">
                    <img src="/static/icons/neuronal.png" alt="Get it on Google Play"> Generar con IA
                </a>

                <a href="/">
                    <img src="/static/icons/chef.png" alt="Get it on Google Play"> Descubrir Platillos
                </a>
            </div>
        </section>

        <section class="reviews">
            <blockquote>
                Una aplicación increíble con uso de IA para que cualquiera pueda mantener una dieta saludable al día.
            </blockquote>
            <div class="stars">
                <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                <p>Aclamado por nuestros usuarios.</p>
            </div>
        </section>

        <section class="recipes">
            <h2>Plan nutricional generado con IA</h2>
        </section>

        <section class="how-it-works">
            <h2>¿Cómo funciona?</h2>
            <p>EatWise IA inteligencia artificial para un plan nutricoinal basados en tus datos.</p>
            <div class="steps">
                <div class="step">
                    <span class="icon">✏️</span>
                    <h3>1. Introduzca sus datos</h3>
                    <p>
                        Introduce tus datos personales, como tu edad, peso, altura y objetivos de salud. EatWise IA
                        generará un plan nutricional personalizado para ti.
                        <br><br>
                        También puedes introducir el tipo de dieta que te gustaría seguir. ¡Perfecto para tu vida
                        saludable!
                        <br><br>
                        También puedes introducir tus preferencias personales, como vegetariano y libre de gluten.
                    </p>
                </div>
                <div class="step">
                    <span class="icon">✨</span>
                    <h3>2. Generar un plan</h3>
                    <p>
                        Se utiliza una inteligencia artificial para crear un plan nutricional para ti. Sólo tarda unos
                        segundos.
                        <br><br>
                        El plan se basará en tus restricciones calóricas.
                    </p>
                </div>
                <div class="step">
                    <span class="icon">😊</span>
                    <h3>3. Sigue tu plan</h3>
                    <p>
                        A continuación, puedes observar el plan generado para ti.
                        <br><br>
                        Tu plan se guardará en tu calendario de plan nutricional, está en tus manos llevar una vida
                        salusable.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <script src="homepage.js"></script>
</body>

</html>