{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block scriptjs %}
<script src="{{ url_for('static', filename='js/index_Bor.js') }}"></script>
{% endblock %}

{% block content %}
<section class="plan-container">
    <div class="plan-title">
        <h1>PLAN NUTRICIONAL</h1>
    </div>
</section>

<section class="plan-container2">
    <div class="plan-title2">
        <h2>
            <img src="{{ url_for('static', filename='icons/desayuno.png') }}" alt="Icono" class="title-icon">
            Desayunos
        </h2>
    </div>
</section>

{% if estatura is none %}
<div class="user-modal-overlay" id="user_modal_overlay"></div>

<div class="user-modal" id="user_stats_modal">
    <button class="user-close-button" aria-label="Cerrar" id="close_user_modal">
        <img src="/static/icons/cerrar.png" alt="Cerrar" class="user-close-icon">
    </button>
    <h2>Datos Personales</h2>
    <p class="user-mod-desc">Es necesario que completes tus datos personales para que podamos personalizar las
        recomendaciones.</p>

    <form method="POST" action="{{ url_for('config') }}" class="user-form-container">
        <label for="user_edad">Edad</label>
        <input type="text" id="user_edad" class="user-input-box" name="edad" required />

        <label for="user_peso">Peso</label>
        <input type="text" id="user_peso" class="user-input-box" name="peso" required />

        <label for="user_estatura">Estatura</label>
        <input type="text" id="user_estatura" class="user-input-box" name="estatura" required />

        <label for="user_actividad">Actividad Física</label>
        <select id="user_actividad" class="user-input-box" name="actividad" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="Sedentario">Sedentario</option>
            <option value="Ligera actividad">Ligera actividad</option>
            <option value="Moderadamente activo">Moderadamente activo</option>
            <option value="Activo">Activo</option>
            <option value="Muy activo">Muy activo</option>
        </select>

        <label for="user_sexo">Sexo</label>
        <select id="user_sexo" class="user-input-box" name="sexo" required>
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
        </select>


        <input type="hidden" name="type_config" value="datos">

        <button type="submit" class="user-update-button">Actualizar datos</button>
    </form>
</div>
{% endif %}

<!-- Contenedor para los thumbnails -->
<section class="plan-thumbnails"></section>

<!-- Fondo del pop-up -->
<div id="modal_overlay" class="overlay"></div>

<!-- Pop-up para los detalles de la receta -->
<div id="recipe-popup" class="recipe_info">
    <!-- Botón de cierre -->
    <button class="close-button" id="close-popup">
        <img src="{{ url_for('static', filename='icons/cerrar.png') }}" class="close-icon" alt="Cerrar">
    </button>

    <!-- Detalles del plato -->
    <section class="plan-details">
        <h2>
            <img src="{{ url_for('static', filename='icons/detalles.png') }}" alt="Icono" class="title-icon2">
            Detalles del Plato
        </h2>
        <!-- Día del plato -->
        <div class="plan-day">
            <div class="day-box" id="plato-dia">Lunes</div>
        </div>

        <!-- Propiedades del plato -->
        <div class="plan-properties">
            <h3>Propiedades:</h3>
            <ul id="plato-propiedades"></ul>
        </div>

        <!-- Imagen y nombre del plato -->
        <div class="plan-image">
            <img id="plato-imagen" src="" alt="Imagen del plato">
            <div class="image-description" id="plato-nombre">Descripción de la imagen aquí</div>
        </div>

        <!-- Ingredientes del plato -->
        <div class="plan-ingredients">
            <h3>Ingredientes:</h3>
            <ul id="plato-ingredientes"></ul>
        </div>

        <!-- Descripción del plato -->
        <div class="plan-description">
            <h3>Descripción:</h3>
            <p id="plato-descripcion"></p>
        </div>
    </section>
</div>
{% endblock %}