{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="static/css/kmeans.css">
{% endblock %}

{% block content %}
<div class="kmeans">
    <div class="header">
        <h1 class="headercontent">Recetas extra</h1>
    </div>

    <div class="contenidokmeans">
        <span>En este apartado encontrarás recetas según el grupo alimenticio al que te hemos asignado. ¡Esperamos que te gusten! Lo mejor de todo es que se acoplan a tus necesidades nutricionales.</span>
        <span>¡Buen provecho!</span>
    </div>

    <div class="header2">
        <h1 class="headercontent2">Recetas según tu grupo</h1>
        <span>Su grupo es <span id="grupo" data-grupo="{{grupo}}">{{grupo}}</span>
    
    </span>
    </div>

    <div class="recipe-cards">
        <!-- Aquí se llenarán las tarjetas de recetas dinámicamente -->
    </div>

    <div class="overlay" id="modal_overlay"></div>


    

</div>
{% endblock %}

{% block scriptjs %}
<script src="/static/js/kmeans.js"></script>
{% endblock %}
