{% extends "base.html"%} {% block css %}
<link rel="stylesheet" href="/static/css/para_ti.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %} {% block content %}
<div class="para_ti">
  <header class="header">
    <h1>RECETAS RECOMENDADAS</h1>
  </header>
  <div class="container">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper"></div>
    </div>
  </div>
</div>
{% endblock%} {% block scriptjs %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="path/to/swiper-bundle.min.js"></script>
<script src="/static/js/carrusel.js"></script>

{% endblock %}
