{% extends "base.html"%} {% block css %}
<link rel="stylesheet" href="/static/css/para_ti.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %} {% block content %}
<div class="para_ti">
  <div class="container">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper"></div>
    </div>
  </div>
</div>
{% endblock%} {% block scriptjs %}
<script src="/static/js/para_ti.js"></script>
{% endblock %}
